<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>{{dialogBaslik}}</span>
</mat-toolbar>
<div class="container">
  <form [formGroup]="frm">
    <mat-form-field appearance="outline">
      <mat-label>İlan</mat-label>
      <input matInput placeholder="İlan" name="emlakAdi" formControlName="emlakAdi" required type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>İlan Fiyatı</mat-label>
      <input matInput placeholder="İlan Fiyatı" name="emlakFiyat" formControlName="emlakFiyat" required type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>İlan Detayı</mat-label>
      <input matInput placeholder="İlan Detayı" name="emlakAciklama" formControlName="emlakAciklama" required type="text">
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="dialogRef.close(frm.value)" [disabled]="frm.invalid">Kaydet</button>&nbsp;
  <button mat-raised-button color="warn" (click)="dialogRef.close()">İptal</button>

</div>